{% extends 'base.html' %}

{% load static %}

{% block title %} Crear destino favorito {% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">            
            <div class="col-sm-9">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                        {{ form.id.label }}
                    </label>
                    <div class="col-sm-8">
                        {{ form.id }}
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Crear</button>
                <a class="btn btn-info" href="{% url 'taxis:list.favoritos' %}">Cancelar</a>
            </div>
        </div>
    </form>
{% endblock %}