{% extends 'base.html' %}

{% block title %} Listar destinos favoritos {% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3 class="one">Listado</h3>
        </div>
        <div class="col-autor">
            <a class="btn btn-primary pull-right" href="{% url 'taxis:create.favoritos' %}">
                <i class="fa fa-add"></i> Crear destino favorito
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Distrito</th>
                <th>Dirección</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for destino in destinos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ destino.id }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-warning" href="{% url 'taxis:update.favoritos' destino.id %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="{% url 'taxis:delete.favoritos' destino.id %}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}