{% extends 'base.html' %}

{% block title %} Listar vehiculos {% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3 class="one">Listado</h3>
        </div>
        <div class="col-autor">
            <a class="btn btn-primary pull-right" href="{% url 'catalogo_web:create.vehiculo' %}">
                <i class="fa fa-add"></i> Crear vehiculo
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Placa</th>
                <th>Conductor</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ vehiculo.placa }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-warning" href="{% url 'catalogo_web:update.vehiculo' vehiculo.id %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="{% url 'catalogo_web:delete.vehiculo' vehiculo.id %}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}